.description__content{
    width: 996px;
    height: 777px;

    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 300px;
}

.description__text{
    width: 100%;
}

.description__title{
    width: 1000px;
    height: 63px;


    font-family: var(--fontArch);
    font-size: 62px;
    font-weight: 400;
    line-height: 63.3px;
    text-align: left;

}

.description__definition{
    width: 952px;
    height: 125px;

    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    color: aqua;

    padding: 50px 0;
}

.description__definition span{
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    color: #000000;
}

.description__image{
    display: flex;
    justify-content: space-between;
    width: 1300px;
}

.description__image img{
    clip-path: polygon(50px 0,100% 0,100% calc(100% - 50px), calc(100% - 50px) 100%,0 100%,0 50px);
}

.description__image-column{
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description__image-column img{
    width: 460px;
    height: 196px;

}

.description__image-block{
    width: 100%;
    padding-left: 50px;
}

.description__image-block img{
    width: 788px;
    height: 424px;
}

@media (max-width: 1024px){
    .description__content{
        width: 1000px;
        height: 1100px;
        margin: 0;
    }

    .description__text{
        width: 800px;
        padding: 0 35px;
    }


    .description__title{
        width: 620px;
        padding: 25px 0;
    }

    .description__definition{
        width: 788px;
        margin: 25px 0;
    }

    .description__image{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 952px;
        padding: 0 35px;
    }

    .description__image-block .description__image-column{
        width: 952px
    }
    .description__image-column{
        width: 952px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .description__image-block{
        width: 952px;
        padding: 20px 0;

        display: flex;
        justify-content: center;
    }

    .description__image-block img{
        width: 952px;
        height: 424px;
        object-fit: cover;
        object-position: 70% 5;
    }
}

@media (max-width: 320px){
    .description__content{
        width: 320px;
        height: 1480px;
        padding-top: 120px;
        margin: 0;
    }

    .description__text{
        width: auto;
        max-width: 100%;
        padding-left: 20px;
    }

    .description__title{
        width: 296px;
        height: 62px;
        padding: 25px 0;

        font-size: 30px;
        line-height: 30.63px;
    }

    .description__definition{
        width: 296px;
        height: 373px;

        font-size: 16px;

        margin: 0;
        padding: 0;
        padding-bottom: 100px;
    }

    .description__definition span{
        font-size: 16px;
    }

    .description__image{
        width: auto;
        max-width: 100%;
        display: block;
        padding: 0;
    }

    .description__image img{
        width: 320px;
    }

    .description__image-column{
        width: 320px;
        height: 430px;
        flex-direction: column;
        justify-content: space-between;
    }

    .description__image-block, .description__image-block img{
        width: 320px;
        object-fit: cover;
        object-position: 50% 0;
    }
}